h1  {
    color: red;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
h2  {
    color: red;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
h3  {
    color: purple;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
h4{
    color: rgb(219, 219, 9);
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
ul {
    text-align: center;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}
ol {
    text-align: center;
    list-style-type: center;
    font-family: 'Oswald', sans-serif;
}
li {
    text-align: center;
    list-style-type: center;
    font-family: 'Oswald', sans-serif;
}

a {
    margin:0 auto 0 auto;
    display: table;  
    font-family: 'Oswald', sans-serif;
    text-decoration: none; 
}

p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}


